html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font: 16px sans-serif;

    background-color: #101;
    color: white;
}

select, p {
    border: none;
    outline: none;

    padding: 5px;
    margin: 0;

    color: white;

    font-size: 70%;
    background-color: #202;
}

.footer {
    position: fixed;
    bottom: 0;

    width: 100%;
    background-color: #202;
    color: white;
}

.float-left {
    display: inline-block;
    float: left;
}

.float-right {
    display: inline-block;
    float: right;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.pad-left {
    padding-left: 25px;
}

#file-body {
    display: none;
}
